.home {
    width: 100vw;
}
.img-logo {
    display: block;
    width: 287px;
    height: 110px;
    margin: 30px auto 20px;
}
.button-play {
    width: 300px;
    height: 100px;
    background-color: #c761a1;
    color: white;
    font-size: 3.2rem;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    span {
        line-height: 100px;
    }
}
.alchemy2{
    height: 116px;
    width: 100vw;
    margin: 0 auto;
    img{
        width: 196px;
        height: 90px;
    }
}
